{{ with $siteId := .Get 0 }}
{{ $data := "" }}
{{ $url := "https://api.storeweb.cn/api/open/site-link" }}
{{ $opts := dict
"method" "post"
"body" (printf `{"siteId": %d}` $siteId)
"headers" (dict "Content-Type" "application/json")
}}

{{ with resources.GetRemote $url $opts}}

{{ with .Err }}
{{ errorf "%s" . }}
{{ else }}

{{ $data = . | transform.Unmarshal }}
{{ $siteUrl := $data.data.siteUrl }}
{{ $introTitle := $data.data.introTitle }}
{{ $links := $data.data.list }}

<h4 id="小红帽友链">小红帽友链<a hidden="" class="anchor" aria-hidden="true" href="#小红帽友链">#</a></h4>

这些友情链接是来自<a class='domain-url' href="https://storeweb.cn" target="_blank"
    class="site-friend-link-project">个站商店</a>的一个子项目
<a href="{{$siteUrl}}" target="_blank" class="site-friend-link-project">『<span
        class='site-url'>{{$introTitle}}</span>』</a>
<br>
<pre>{{$siteUrl}} </pre>
</p>
<div class="site-friend-link">
    {{ range $links }}
    <div class="site-friend">
        <a class="site-friend-link-count{{ if eq .isRssUpdate false }} hide {{end}}">
        </a>
        <img class="site-friend-link-image" src="{{ .logoUrl }}" />
        <a class="site-friend-link-name" href="{{ .http }}{{ .domain }}" target="_blank">
            {{ .name }}
        </a>
        <span class="site-friend-link-into">{{ .friendIntro }}</span>
    </div>
    {{ end }}
</div>

<style>
    .rssnew {
        border: 2px dashed #ff7d1e;
    }

    .hide {
        display: none;
    }

    .clear {
        clear: both;
    }

    .site-friend-link {
        margin-bottom: 20px;
        overflow: hidden;
        line-height: 175%;
    }

    .site-friend-link div {
        position: relative;
        float: left;
        width: 266px;
        margin: 12px 12px;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #d1c7b7;
        background-color: #fffef9;
        overflow: visible;
        min-height: 80px;
    }

    .site-friend-link-image {
        float: left;
        width: 50px;
        height: 50px !important;
        border-radius: 25px;
        margin-top: 5px;
    }

    .site-friend-link-name {
        float: left;
        width: calc(100% - 50px);
        text-align: left;
        padding-left: 15px;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .site-friend-link-into {
        float: left;
        width: calc(100% - 50px);
        text-align: left;
        padding-left: 15px;
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
    }

    .site-friend-link-count {
        position: absolute;
        top: -8px;
        right: -8px;
        width: 16px;
        height: 16px;
        border-radius: 8px;
        background-color: #ff7d1e;
        color: white !important;
        font-size: 10px;
        padding-left: 5px;
    }
</style>
{{ end }}

{{ else }}
{{ errorf "无法获取远程资源 %q" $url }}
{{ end }}

{{ else }}
<p>未指定 siteId 参数</p>
{{ end }}